Package: us.mwoolweaver.FixBrokenClassicDock
Name: Fix Broken Classic Dock
Version: 1.0
Architecture: iphoneos-arm
Description: A temporary fix for broken Classic Dock themes
Depends: com.anemonetheming.anemone (>=1.1-367)
Maintainer: Michael Woolweaver <m.woolweaver@icloud.com>
Author: Michael Woolweaver <m.woolweaver@icloud.com>
Section: Themes (Fixes)
Depiction: https://mwoolweaver.us/Public-Repo/dep/FixBrokenClassicDock/index.html
